body{
    font-family:Arial, sans-serif;
    background:#0B1F14;
    color:#F5F1E8;
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    margin:0;
}
.container{
    background:#163322;
    border:2px solid #4A7856;
    padding:30px;
    border-radius:20px;
    width:500px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}
h1{
    color:#D4AF37;
}
textarea{
    width:100%;
    height:120px;
    padding:10px;
    border-radius:12px;
    background:#0B1F14;
    color:#F5F1E8;
    border:2px solid #4A7856;
    margin-top:10px;
}
button{
    margin-top:15px;
    padding:12px 25px;
    border:none;
    background:#2E8B57;
    color:#F5F1E8;
    border-radius:1px;
    cursor:pointer;
    font-size: 16px;
}
button:hover{
    background:#3CB371;
}
#result{
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
    color:#7CFC00;
    text-shadow:0 0 10px #7CFC00;
}
.container{
    background:#163322;
    border:2px solid #D4AF37;
    box-shadow:0 0 25px rgba(212,175,55,0.3);
}
.cauldron{
    position: relative;
    margin: auto 20px;
    width:120px;
    height:120px;
}
.pot{
    width: 120px;
    height:80px;
    background:#0B1F14;
    border: 3px solid #4A7856;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    position:absolute;
    bottom:0;
    box-shadow:0 0 20px rgba(46,139,87,0.4);
}
.bubbles{
    position:absolute;
    top:0;
    width:100%;
    height:60px;
}
.bubbles span{
    position:absolute;
    bottom:0;
    width:10px;
    height:10px;
    background:#7CFC00;
    border-radius: 50%;
    animation: bubbleUp 2s infinite ease-in-out;
    opacity:0.8s;
}
.bubbles span:nth-child(1) { left: 10%; animation-delay: 0s; }
.bubbles span:nth-child(2) { left: 30%; animation-delay: 0.4s; }
.bubbles span:nth-child(3) { left: 50%; animation-delay: 0.8s; }
.bubbles span:nth-child(4) { left: 70%; animation-delay: 1.2s; }
.bubbles span:nth-child(5) { left: 85%; animation-delay: 1.6s; }

@keyframes bubbleUp{
    0%{
        transform: translateY(0)scale(1);
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        transform:translateY(-60px)scale(1.5);
        opacity:0;
    }
}
.fog{
    position: absolute;
    top:0;
    left:0;
    width:200%;
    height:100%;
    background:radial-gradient(circle, rgba(255,255,255,0.08)0%, transparent 60%);
    animation: fogMove 12s infinite linear;
    pointer-events:none;
    z-index:0;
}

.fog2{
    animation-duration: 18s;
    opacity: 0.6s;
}
@keyframes fogMove{
    0%{transform:translateX(0);}
    100%{transform:translateX(-50%);}
}
.smoke{
    position:absolute;
    top:-40px;
    left:50%;
    transform:translateX(-50%);
    width:100px;
    height:80px;
    pointer-events:none;
}
.smoke span{
    position:absolute;
    bottom:0;
    width: 12px;
    height:12px;
    background:rgba(200, 200, 200, 0.4);
    border-radius:50%;
    animation:smokeRise 3s infinite ease-in-out;
    filter:blur(2px);
}
.smoke span:nth-child(1){left:20%;animation-delay:0s;}
.smoke span:nth-child(2){left:50%; animation-delay: 1s;}
.smoke span:nth-child(3){left:80%; animation-delay: 2s;}
@keyframes smokeRise{
    0%{
        transform:translateY(0)scale(1);
        opacity:0;
    }
    50%{
        opacity:0.6;
    }
    100%{
        transform:translateY(-60px)scale(2);
        opacity:0;
    }
}
.container {
    position: relative;
    overflow: hidden;
}
.cauldron, textarea, button {
    position: relative;
    z-index: 2;
}
.scroll{
    margin-top:20px;
    padding:0;
    height:0;
    overflow:hidden;
    background:#F5F1E8;
    border: 2px solid #D4AF37;
    border-radius:10px;
    box-shadow:0 0 20px rgba(212,175,55,0.3);
    transition:all 0.6s ease;
    transform:scaleY(0);
    transform-origin:top;
}
.scroll-text{
    padding:20px;
    color:#0B1F14;
    font-weight:bold;
    font-size: 18px;
    text-align: center;
}
.scroll.open{
    height:auto;
    transform:scaleY(1);
    padding:10px;
}
.scroll.open{
    animation: glowScroll 1s ease;
}
@keyframes glowScroll{
    0%{bow-shadow:0 0 0 rgba(212,175,55,0);}
    50%{bow-shadow:0 0 30px rgba(212,175,55,0.8);}
    100%{bow-shadow:0 0 20px rgba(212,175,55,.3);}
}
.runes{
    position:absolute;
    top:-20px;
    left: 50%;
    width: 200px;
    height: 200px;
    transform:translateX(-50%);
    pointer-events:none;
}
.runes span{
    position: absolute;
    color:#D4AF37;
    font-size:18px;
    text-shadow: 0 0 10px rgba(212,175,55,0.8);
    animation:floatRune 4s infinite linear;
}

.runes span:nth-child(1){top:0; left:50%; animation-delay: 0s;}
.runes span:nth-child(2){top:20%; left:85%; animation-delay: 0.6s;}
.runes span:nth-child(3){top: 60%; left:90%; animation-delay: 1.2s;}
.runes span:nth-child(4){top:90%; left: 50%; animation-delay: 1.8s;}
.runes span:nth-child(5){top: 60%; left: 10%; animation-delay: 2.4s;}
.runes span:nth-child(6){top: 20%; left:15%; animation-delay: 3s;}
@keyframes floatRune{
    0%{
        transform: rotate(0deg)translateY(0px);
        opacity:0.4s;
    }
    50%{
        opacity:1;
        transform: rotate(189deg) translateY(-10px);
    }
    100%{
        trannsform:rotate(360deg)translateY(0px);
        opacity:0.4s;
    }
}